{% extends '::base.html.twig' %}

{% block page_title %}{{ user.fullName }}{% endblock %}


{% block body %}
    <h1>{{ user.fullName }}</h1>
    <h2>Phones</h2>
    {% include 'HromPhonesBundle:Phone:index.html.twig' with { 'phones': phones } %}
    {{ render(controller('HromPhonesBundle:Phone:new',{ 'user_id': user.id })) }}
{% endblock %}