{% extends '::base.html.twig' %}

{% block page_title %}Add contact{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('msg') %}
        <div>
            {{ flashMessage }}
        </div>
    {% endfor %}

{% endblock %}