{% extends '::base.html.twig' %}

{% block body %}
    <table border="1px solid black">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Created at</th>
            <th>View</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td>
                    <time datetime="{{ user.created|date('c') }}">{{ user.created|date('l, F j, Y') }}</time>
                </td>
                <td><a href="{{ path('HromPhonesBundle_user_show', { 'id': user.id }) }}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}