<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset=utf-8"/>
    <title>{% block page_title %}PhoneBook  - Home{% endblock %}</title>
</head>
<body>

<div>
    {% block navigation %}
        <ul>
            <li><a href="{{ path('HromPhonesBundle_homepage') }}">Home</a></li>
            <li><a href="{{ path('HromPhonesBundle_add') }}">Add contact</a></li>
        </ul>
    {% endblock %}
</div>

<div>
    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
