{% extends '::base.html.twig' %}

{% block title %}Add Phone{% endblock%}

{% block body %}
    <h1>Add phone for user contact "{{ phone.user.fullname }}"</h1>
    {% include 'HromPhonesBundle:Phone:form.html.twig' with { 'form': form } %}
{% endblock %}