<table>
    <tr><td>
            {{ form_start(form, { 'action': path('HromPhonesBundle_phone_add' , { 'user_id' : phone.user.id }), 'method': 'POST', 'attr': {'class': 'hrom'} }) }}

            {{ form_widget(form) }}
        </td>
        <td>
            <input type="submit" value="Add phone">
        </td>
    </tr>
</table>
