<table>


{% for phone in phones %}
    <tr>
        <td>{{ phone.phone }}</td>
        <td><a href="{{ path('HromPhonesBundle_homepage') }}">Delete</a></td>
    </tr>
{% else %}
    <tr>
        <td>There are no phones for this user</td>
    </tr>
{% endfor %}
</table>